# Xcode
*.xcuserstate
*.xcscmblueprint
DerivedData/
.build/
*.swp
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
*.DS_Store
Thumbs.db

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# IDE
.idea/
.vscode/
*.iml

# Build output
build/
